* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;
}

h2 {
    margin: 0;
}

.image {
    display: block;
    max-width: 100%;
    height: auto;
    border: 1px solid #0d161b;
}

.cat-info {
    width: 600px;
}

.breed-select {
    max-width: 400px;
    margin-top: 20px;
    padding: 10px;
    gap: 40px;
    background-color: #e5f3f2;
    border: 1px solid #0d161b;
}

.block-cat-info {
    margin-top: 20px;
    padding: 20px;
    gap: 40px;
}

.card {
    margin-top: 10px;
    list-style: none;
    display: flex;
}
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 2px solid #FF3D00;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 4px;
    top: 4px;
    border: 2px solid #FFF;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
}}